<div class="registration-form">
  <form action="/" method="POST">
    <div class="form-container">
      <p>Registration Form</p>
      <div>
        <div class="left-container">
          <div class="form-element">
            <input
              type="text"
              name="firstname"
              class="item"
              value=""
              placeholder="First Name *"
            />
          </div>
          <div class="form-element">
            <input
              type="text"
              name="lastname"
              class="item"
              value=""
              placeholder="Last Name *"
            />
          </div>
          <div class="form-element">
            <input
              type="password"
              name="password"
              class="item"
              value=""
              placeholder="Password *"
            />
          </div>
          <div class="form-element">
            <input
              type="password"
              name="cpassword"
              class="item"
              value=""
              placeholder="confirm Password *"
            />
          </div>
        </div>
        <div class="right-container">
          <div class="form-element">
            <input
              type="text"
              name="phone"
              class="item"
              value=""
              placeholder="Phone Number *"
            />
          </div>
          <div class="form-element">
            <input
              type="email"
              name="email"
              class="item"
              value=""
              placeholder="Email address *"
            />
          </div>
          <div class="form-element">
            <input
              type="date"
              name="dob"
              class="item"
              value=""
              placeholder="dob *"
            />
          </div>
          <div class="form-element">
            <div class="gender-container">
              <label class="radio-btn">
                <input
                  type="radio"
                  name="gender"
                  class="item"
                  value="male"
                  checked
                />
                <span>Male</span>
              </label>
              <label class="radio-btn">
                <input type="radio" name="gender" class="item" value="female" />
                <span>Female</span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <input type="submit" class="btnRegister" value="Register" />
    </div>

  </form>
</div>